.game{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
  position: relative;
}

.welcome-message{
  text-align: center;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-control select {
  outline: none;
  padding: 8px;
  border-color: #293264;
  background-color: #F5F7FB;
  border-radius: 8px;
}

.form-control input{
  all: unset;
  outline: none;
  border: 1px solid #293264;
  background-color: #F5F7FB;
  border-radius: 8px;
  padding: 8px;
}
