.question{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.answers{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.answer{
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
}